{% extends 'dashboard/base.html' %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        
        <!-- row -->
        <div class="row">
            <div class="col-xl-9 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Malumotlarni yangilsh</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" class="form-control input-rounded" placeholder="Ismi" value="{{ user.username }}" name="usernameup">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control input-rounded" placeholder="eski parol" value="" name="old_password">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control input-rounded" placeholder="yangi parol" value="" name="new_password">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control input-rounded" placeholder="yangi parolni tasdiqlash" value="" name="confirm_password">
                                </div>
                                <div class="mb-3">
                                    <input type="file" class="form-control input-rounded" placeholder="Rasm" name="img">
                                </div>
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}